<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXCTickets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DXCTickets.Properties.Settings>
            <setting name="MainAlwaysVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllWindowBackground" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="AllWindowFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AllWindowLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="AllWindowFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TicketAlwaysVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TicketInfo" serializeAs="String">
                <value>Mostrar Siempre</value>
            </setting>
            <setting name="TicketDescendants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TicketOrder" serializeAs="String">
                <value>Inserted</value>
            </setting>
            <setting name="AllWindowButtonColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="AllWindowButtonFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="CompanyAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenShotFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenShotSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowVertical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowDocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowAutoHide" serializeAs="String">
                <value>False</value>
            </setting>
        </DXCTickets.Properties.Settings>
    </userSettings>
</configuration>